@font-face {
  font-family: 'icopostal';
  src:
    url('#{$font-path}/icopostal.ttf?mg6qhw') format('truetype'),
    url('#{$font-path}/icopostal.woff?mg6qhw') format('woff'),
    url('#{$font-path}/icopostal.svg?mg6qhw#icopostal') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-ps-"], [class*=" icon-ps-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icopostal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ps-angle-left-o:before {
  content: "\e900";
  color: inherit;
}
.icon-ps-arrow:before {
  content: "\e901";
  color: inherit;
}
.icon-ps-calendar:before {
  content: "\e902";
  color: inherit;
}
.icon-ps-cart:before {
  content: "\e903";
  color: inherit;
}
.icon-ps-chain:before {
  content: "\e904";
  color: inherit;
}
.icon-ps-chat:before {
  content: "\e905";
  color: inherit;
}
.icon-ps-check-note:before {
  content: "\e906";
  color: inherit;
}
.icon-ps-close:before {
  content: "\e907";
  color: inherit;
}
.icon-ps-coins:before {
  content: "\e908";
  color: inherit;
}
.icon-ps-edit-note:before {
  content: "\e909";
  color: inherit;
}
.icon-ps-enlarge:before {
  content: "\e90a";
  color: inherit;
}
.icon-ps-exit:before {
  content: "\e90b";
  color: inherit;
}
.icon-ps-facebook:before {
  content: "\e90c";
  color: inherit;
}
.icon-ps-gear:before {
  content: "\e90d";
  color: inherit;
}
.icon-ps-google:before {
  content: "\e90e";
  color: inherit;
}
.icon-ps-house:before {
  content: "\e90f";
  color: inherit;
}
.icon-ps-information:before {
  content: "\e910";
  color: inherit;
}
.icon-ps-letter:before {
  content: "\e911";
  color: inherit;
}
.icon-ps-list:before {
  content: "\e912";
  color: inherit;
}
.icon-ps-lock:before {
  content: "\e913";
  color: inherit;
}
.icon-ps-map:before {
  content: "\e914";
  color: inherit;
}
.icon-ps-map-marker:before {
  content: "\e915";
  color: inherit;
}
.icon-ps-note:before {
  content: "\e916";
  color: inherit;
}
.icon-ps-number-sign:before {
  content: "\e917";
  color: inherit;
}
.icon-ps-package:before {
  content: "\e918";
  color: inherit;
}
.icon-ps-person:before {
  content: "\e919";
  color: inherit;
}
.icon-ps-phone:before {
  content: "\e91a";
  color: inherit;
}
.icon-ps-search:before {
  content: "\e91b";
  color: inherit;
}
.icon-ps-sign:before {
  content: "\e91c";
  color: inherit;
}
.icon-ps-text-bubble:before {
  content: "\e91d";
  color: inherit;
}
.icon-ps-trashcan:before {
  content: "\e91e";
  color: inherit;
}
.icon-ps-upload:before {
  content: "\e91f";
  color: inherit;
}
.icon-ps-wallet:before {
  content: "\e920";
  color: inherit;
}