// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/fonts/font-icons";

.menu-inner{
	.header{
		min-height: auto;

		.toolbar-background{
			border: none;
		}
		.toolbar-content{
			text-align: center;
			padding: 20px;
		}
		.logo{
			width: 	145px;
		}
	}
	.user-info{
		color: #fff;
		text-align: center;
		h3{
			margin-top: 0;
		}
		p{
			margin-top: 0;
			font-size: 16px;
		}
	}
	.login-block{
		padding: 0 16px 16px;
		font-size: 1.4rem;
		color: #9bb6e0;
		span{
			padding: 0 10px;
		}
	}
	.content{
		background: color($colors, secondary);
		.item{
			background: color($colors, secondary);
			color: #fff;
			border-bottom: none;
		}
		.item-ios{
			.item-inner{
				background: none;
			}
		}
	}
	:after{
		display: none;
	}
	.list-md{
		margin-top: 0;
	}
	.item-block {
		&:last-child{
			.item-inner{
				border-bottom: 1px solid #5d6394;
			}
		}
		&:first-child{
			.item-inner{
				border-top: 1px solid #5d6394;
			}
		}
		.item-inner{
			border-color: #5d6394;
		}
	}
	span[class^="icon-ps-"]{
		display: inline-block;
		width: 20px;
		margin-right: 5px;
		text-align: center;
		color: #9bb6e0;
	}
}

.input-field {
	display: flex;
	align-items: center;
	height: 4rem;
	margin-bottom: 5px;
	color: color($colors, grey);
	border-bottom: 1px solid;
	ion-input {
		height: 100%;
	}
	.text-input {
		margin: 0;
		height: 100%;
		font-size: 1.6rem;
	}

	[class^="icon-ps-"], [class*=" icon-ps-"] {
		font-size: 20px;
		width: 20px;
		margin-right: 1.5rem;
	}
}
.button {
	height: 4.2rem;
	font-size: 1.8rem;
	border-radius: 0.4rem;
	margin-bottom: 1.4rem;
	text-transform: initial;
}

.back-button {
	background: url("../assets/img/bacKIcon.png") no-repeat center;
	background-size: contain;
	margin-left: 1.5rem;
	min-width: auto;
	width: 2.2rem;
}
.header-md::after {
	height: 0;
}